.group-85 {
  height: 23px;
  margin-bottom: 0.87px;
  margin-left: 7px;
  width: 117px;
}
.group-86 {
  align-items: center;
  display: flex;
  height: 32px;
  left: 20px;
  min-width: 173px;
  position: absolute;
  top: 111px;
}
.vector-7 {
  height: 32px;
  margin-top: -0.33px;
  mix-blend-mode: normal;
  width: 49px;
}
.white {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 48px;
}
