@media (max-width: 375px) {
  .mobile-only {
    display: flex;
  }
  .tablet-only {
    display: none;
  }
  .desktop-only {
    display: none;
  }
}

@media (min-width: 376px) {
  .mobile-only {
    display: none;
  }
  .tablet-only {
    display: none;
  }
  .desktop-only {
    display: flex;
  }
}
