.button-i2732074651-Mmab5X {
  color: #cd424a;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-37nz0S {
  border-radius: 8px;
  height: 40px;
  opacity: 1;
  position: relative;
}
.x2668590.x27320746 {
  left: 118px;
  margin-top: unset;
  position: absolute;
  top: 1744px;
}
.x27320746 {
  height: 40px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 140px;
}
