.group-85-1 {
  height: 23px;
  margin-bottom: 0.9px;
  margin-left: 7px;
  width: 120px;
}
.group-86-1 {
  align-items: center;
  display: flex;
  height: 33px;
  min-width: 178px;
  position: relative;
}
