.button-i266857951-MlNlfQ {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
.master-button-OkO4H7 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x2668579 {
  height: 40px;
  left: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 551px;
  width: 152px;
}
