.about-us {
  color: var(--white);
  height: 24px;
  line-height: 28px;
  min-height: 24px;
  min-width: 164px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 164px;
}
.frame-14.frame-140 {
  height: 24px;
  margin-top: 8px;
  position: relative;
}
.frame-140 {
  align-items: flex-start;
  display: flex;
  min-width: 332px;
}
.projects {
  color: var(--white);
  height: 24px;
  line-height: 28px;
  margin-left: 6px;
  min-height: 24px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
