.button-i266860251-RsTw5N {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-pOdK04 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x2668602 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.x2668641.x2668602 {
  position: relative;
}
.x2668680.x2668602 {
  position: relative;
}
.x2668719.x2668602 {
  position: relative;
}
